<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Challenge</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>


    <section>
        <h1>Hi, Enjoy The Song</h1>
        <div class="details" >
            <h2 class="second-heading" > Music will start in Just a Few Seconds...</h2>
            <h2 class="resume" >Music is Playing!</h2>
            <h2 class="pause">Music is Paused!</h2>
        </div>
    </section>

    <audio src="assets/track.mp3" id="audio" ></audio>
    <div class="container" >
        <video id="video"></video>
        <canvas id="canvas" ></canvas>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/handtrackjs/dist/handtrack.min.js"> </script>
    <script src="script/script.js"></script>
</body>
</html>