<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <section class="instructions" >
        <h1>Instructions</h1>
        <p>This is a simple Project, on clicking the below <span>purple</span> button you will be taken to a <span >playSong</span> page where a song will start playing and webcam
            will ask for permission(Please allow) and then will be open(give it 5-10 seconds to load), now you can pause the song by simply showing your Hand in 
            webcam.
        </p>
        <p> <span>Note 1:</span> responsiveness can vary depending on the machine.</p>
        <p><span>Note 2:</span> Purple color is Best(and Rusty too!).</p>
        <a class="purple-link" href="/play">Let's Go.</a>
    </section>

</body>
</html>